@import url("https://cdn.jsdelivr.net/npm/filepond@4.30.4/dist/filepond.min.css");
@import url("https://cdn.jsdelivr.net/npm/filepond-plugin-image-preview@4.6.11/dist/filepond-plugin-image-preview.min.css");
.filepond--root {
  margin-bottom: 0;
}
.filepond--root .filepond--file-action-button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.filepond--root .filepond--file-action-button:hover {
  box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.9);
}
.filepond--root .filepond--file-action-button:focus {
  box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.9);
}
.filepond--root .filepond--drop-label {
  color: #555;
}
.filepond--root .filepond--label-action {
  text-decoration-color: #aaa;
}
.filepond--root .filepond--panel-root {
  transition: border 0.25s ease-in;
  border-radius: 0.5em;
  background-color: transparent;
  border: 1px solid #c4c4c4;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
}
.filepond--root .filepond--item-panel {
  border-radius: 0.5em;
  background-color: #555;
}
.filepond--root .filepond--drip-blob {
  background-color: #999;
}
.filepond--root .filepond--file {
  color: white;
}
.filepond--root [data-filepond-item-state*=error] .filepond--item-panel {
  background-color: red;
}
.filepond--root [data-filepond-item-state*=invalid] .filepond--item-panel {
  background-color: red;
}
.filepond--root [data-filepond-item-state=processing-complete] .filepond--item-panel {
  background-color: green;
}
.filepond--root .filepond--credits {
  display: none;
}

#app span.h1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  margin: 10px 20px;
}
@media (min-width: 768px) {
  #app span.h1 {
    margin: 20px 50px;
  }
}
#app .h2 {
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
#app div.container {
  margin-top: 20px;
}
@media (min-width: 768px) {
  #app div.container {
    margin-top: 40px;
  }
}
#app div.container div.contentWrap {
  margin: 10px 20px;
}
@media (min-width: 768px) {
  #app div.container div.contentWrap {
    margin: 20px 50px;
  }
}
#app div.container div.contentWrap input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
}
#app div.container div.contentWrap label {
  display: block;
  margin: 10px 0 5px 0;
}
#app div.container div.contentWrap textarea {
  border: 1px #c4c4c4 solid;
  width: 100%;
  min-height: 100px;
  border-radius: 10px;
  padding: 10px;
  white-space: pre-line;
  overflow-wrap: break-word;
  overflow: auto;
}
@media (min-width: 768px) {
  #app div.container div.contentWrap textarea {
    padding: 20px;
    font-size: 1.2rem;
    width: 100%;
  }
}
#app div.container div.contentWrap textarea::-webkit-scrollbar {
  width: 10px;
}
#app div.container div.contentWrap textarea::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ccc;
}
#app div.container div.contentWrap textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #eee;
}
#app .buttonContainer {
  width: calc(100% - 20px);
  margin: 20px 10px 0 10px;
  display: flex;
  justify-content: space-evenly;
}
@media (min-width: 768px) {
  #app .buttonContainer {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    width: calc(100% - 80px);
    justify-content: flex-end;
  }
}
#app .buttonContainer button {
  width: 80px;
  font-size: 1rem;
  color: black;
  text-align: center;
  padding: 8px;
  border: 1px solid #c4c4c4;
  border-radius: 16px;
}
@media (min-width: 768px) {
  #app .buttonContainer button {
    margin-left: 40px;
  }
}
#app .buttonContainer button:active {
  color: white;
  background-color: grey;
}