

.login-box {
    width: 70%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    color: #333;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    padding: 50px;
    border-radius: 10px;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}

.user-box {
    position: relative;
    margin-top: 20px;
}

.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    pointer-events: none;
    transition: 0.5s;
}

.user-box input {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    font-size: 16px;
    color: #333;
}

.user-box input:focus ~ .box-label,
.user-box input:valid ~ .box-label {
    top: -20px;
    left: 0;
    color: grey;
    font-size: 12px;
}

.submit-box input {
    display: inline-block;
    width: 100%;
    background-color: dimgrey;
    color: #fff;
    text-align: center;
    padding: 14px 0;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 20px;
    transition: 0.5s;
}

.submit-box input:hover {
    background-color: #333;
}

.error-message {
    color: red;
    font-size: 13px;
}

.link-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.link-box a {
    margin-right: 30px;
    font-size: 14px;
}

.link-box a:hover {
    color: grey;
}

@media screen and (max-width: 768px) {
    .login-box {
        width: 90%;
    }

    .login-box h2 {
        font-size: 24px;
    }

    .user-box label,
    .user-box input {
        font-size: 14px;
    }

    .submit-box input {
        font-size: 16px;
    }

    .link-box a {
        font-size: 12px;
        margin-right: 10px;
    }
}
