input,
button,
select {
  all: revert;
}
.check>input[type="checkbox"] {
  /* 모든 체크박스에 대한 스타일 적용 */
  width: 12px;
  height: 12px;
  border: 0.5px solid rgb(96, 96, 96);
}


#product table {
  border-collapse: collapse;
  width: 100%;
  /* max-width: 900px; */
  margin: 2px auto 0 auto;  
  background-color: #fff;
  table-layout: auto;
}

#product th,
#product td {
  padding: 10px;
  text-align: center;
}

#product td.title {
  width: 30%;
}

#product th {
  background-color: #eee;
  font-weight: bold;
  text-transform: uppercase;
}

.product-header:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#product .title {
  text-align: left;
}

#product .product-content {
  display: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#product .product-content .content {
  padding: 20px;
  text-align: left;
  background-color: white;
}
/* =============== 인풋태그 배치 ============ */
#product .product-content .content label {
  display: block;
}
#product .product-content .content input {
  display: inline-block;
}
textarea{
    width: 90%;
    height: 100px;
}
/* ========================================== */
#product .product-content .content_btn {
  text-align: right;
  margin: 0 20px 10px 0;
}

#product .product-content h1 {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 5px;
}

#product .product-content p {
  font-size: 14px;
}


.pagination {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  width: 100%;
}

.pagination ul {
  display: flex;
}

.pagination li {
  margin: 0 10px;
}

.pagination li a {
  display: block;
  text-align: center;
  padding: 10px;
  color: #333;
  border-radius: 5px;
}

.pagination li a:hover,
.pagination li a.active {
  background-color: #333;
  color: #fff;
}

.pagination .page_select {
  background-color: #333;
  color: #fff;
}

@media screen and (max-width: 768px) {
  #product table {
    table-layout: fixed;
  }

  #product td.title,
  #product th.category {
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .date,
  .view,
  .admin {
    display: none;
  }

  .pagination ul {
    font-size: 70%;
  }
}
