.button-nav {
    display: flex;
    justify-content: right;
}

.button-nav i{
    padding: 5px;
}

.create-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.create-modal-content {
    margin: 15% auto;
    width: 90%;
    max-width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.create-modal-content h2 {
    margin-bottom: 20px;
}

.create-modal-content form {
    display: flex;
    flex-direction: column;
}

.create-modal-content label {
    font-weight: bold;
    margin-bottom: 5px;
}

.create-modal-content select,
.create-modal-content input,
.create-modal-content textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 16px;
    resize: none;
    width: 90%;
}

.create-modal-content textarea {
    height: 300px;
    width: 100%;
}

.create-modal-content button[type="submit"],
.create-modal-content button {
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}
#modal-close:hover,
.create-modal-content button[type="submit"]:hover,
.create-modal-content button:hover {
    background-color: dimgrey;
}
